<p id="notice"><%= notice %></p>

<p>
  <b>Grp event name:</b>
  <%= @group_event.grp_event_name %>
</p>


<%= link_to 'Edit', edit_group_event_path(@group_event) %> |
<%= link_to 'Back', group_events_path %>
