<p id="notice"><%= notice %></p>

<p>
  <b>Gpoints:</b>
  <%= @grp_event_winner.gpoints %>
</p>


<%= link_to 'Edit', edit_grp_event_winner_path(@grp_event_winner) %> |
<%= link_to 'Back', grp_event_winners_path %>
