<center>
<br>

<h3><%= link_to 'New Event', new_event_path %></h3>
<br>

<h3><%= link_to 'New Group Event', new_group_event_path %></h3>
<br>

<h3><%= link_to 'New Age group', new_competetion_level_path %></h3>
</center>