
<div id = "wrapper">
<br><br><br>
<h1><%= link_to 'Winners for individual event', new_event_winner_path %></h1>
<br>
<br>
<br>

<h1><%= link_to 'Winners for group event', new_grp_event_winner_path %></h1>

<h1><%= link_to 'Overall Winners for individual event', winner_path %></h1>

</div>

