<p id="notice"><%= notice %></p>

<p>
  <b>Age Group</b>
  <%= @competetion_level.age_group %>
</p>


<%= link_to 'Edit', edit_competetion_level_path(@competetion_level) %> |
<%= link_to 'Back', competetion_levels_path %>
