<%@mname.each do |m|%>

<fieldset>
	
  <%= m %><br><br>
  
  <td><%= f.text_field :minute %><br /></td>
  <td><%= f.text_field :second %><br /></td>
  <td><%= f.text_field :micro_second %><br /></td>
  
</fieldset><% end%>