

<div align="center">
	<h1>
		<br><br><br>
<%= link_to 'Race Timing for Group Event', search_path %>


<br><br><br><br>

<%= link_to 'Race Timing for Individual Event', new_race_timing_ind_evnt_path %></h1>
</div>


