<h1>Event Details</h1>

<h3>Age Group</h3>

    <select autofocus required>
        <option selected value="">Event</option>
        <% @events.each do |event| %>
            
                <option><%= event.event_name %></option>
            <% end %>
        
    </select>   
    <br />
    <br />  




<%= link_to 'New Race timing ind evnt', new_race_timing_ind_evnt_path %>
